<div class="login-container">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div>
            <input type="text" id="login" name="login" placeholder="Login" ngModel required>
        </div>
        <div>
            <input type="password" id="senha" name="senha" placeholder="Senha" ngModel required>
        </div>
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
    <p>Não possui conta? <a routerLink="/cadastro">Cadastre-se</a></p>
</div>