.carrinho-fundo{
  background-color: #f9f9f9; 
  padding: 80px 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.carrinho-item {
  background-color: #c3bfc7;
  border-radius: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.produto-imagem {
  width: 80px; 
  height: 80px; 
  object-fit: cover; 
  border-radius: 8px; 
  margin: 0 15px 0 15px; 
}

.produto-info {
  flex: 1;
}

.remover-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #575757;
  transition: color 0.3s;
}

.remover-button:hover {
  color: #000000;
}

.subtotal {
  margin-top: 20px;
}

.fechar-pedido-button {
  background-color: #b478c0;
  color: #fff; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fechar-pedido-button:hover {
  background-color: #95439c;
}

.info-carrinho{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-carrinho h3{
  font-size: 30px;
}